@import "tailwindcss";

/* 
  Aquí definimos el tema personalizado de la universidad (DICyT)
  Tailwind v4 detectará esto automáticamente y creará las clases (ej. bg-uap-blue)
*/
@theme {
  --color-uap-blue: #002a4f;
  --color-uap-lightBlue: #1e73be;
  --color-uap-red: #da4d31;
  --color-uap-green: #079745;
  --color-uap-gray: #f8fafc;

  --shadow-soft: 0 4px 20px rgba(0, 0, 0, 0.05);
  --shadow-floating: 0 10px 30px rgba(0, 0, 0, 0.1);

  --animate-fade-in-up: fade-in-up 0.8s ease-out forwards;

  @keyframes fade-in-up {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

/* 
  Limpiamos los fondos raros y aplicamos el fondo neutro de la UAP por defecto
*/
body {
  background-color: var(--color-uap-gray);
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
}